entities/trunk/xml/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

LIST
  root element
  complexType with sequence of 1 element iteration ==> list
  key to define uniqueness and for update

OBJECT
  child of root
  @das:table to declare database table
  complexType with sequence of element iteration ==> properties / children

PROPERTY
  child of object simpleType
  
CHILD
  child of object complexType
  
KEY = on table element and object elements containing sub-elements
KEYREF = on child element, refering to parent keys
Parent key fields (xpath) and child key fields must be in same order

-->
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:das="maarch:DataAccessService"  
  elementFormDefault="qualified">
  
  <xsd:include schemaLocation='modules/entities/xml/entities.xsd' />
  
  <!-- ROOT : DOCSERVERS -->
  <xsd:element name='entities_list' das:label="_ENTITIES_LIST">
    <xsd:complexType>
      <xsd:sequence>
        <!-- ROWS -->
        <xsd:element ref='entities' das:label="_ENTITIES" minOccurs="0" maxOccurs='unbounded'/>
        <!--<xsd:element name='entity_types' type='typentity' das:xml='/modules/entities/xml/typentity.xml' das:xpath="/root/TYPE" minOccurs="0" maxOccurs='unbounded'/>-->
      </xsd:sequence>
    </xsd:complexType>
    <!-- PRIMARY KEY : ENTITIES-->
    <xsd:key name='entities_pk'>
      <xsd:selector xpath='./entities' />
      <xsd:field xpath='entity_id'/>
    </xsd:key>
  </xsd:element>
  
  <!-- ROW : ENTITY -->
  <xsd:element name='entities' type='entity' das:label="entités" das:source='database' das:key-columns="entity_id" das:filter-columns="entity_id entity_label short_label"/>
  
  <!-- TYPE : ENTITY -->
  <xsd:complexType name='ENTITY'>
    <xsd:sequence>
      <xsd:element name="entity_id" das:label="_ENTITY_ID" type="varchar32" nillable="false" />
      <xsd:element name="entity_label" das:label="_ENTITY_LABEL" type="varchar255" />
      <xsd:element name="short_label" das:label="_ENTITY_SHORT_LABEL" type="varchar50" />
      <xsd:element name="enabled" das:label="_ENABLED" type="boolean" nillable="false" default="Y" />
      <xsd:element name="adrs_1" das:label="_ENTITY_ADRS_1" type="varchar255" />
      <xsd:element name="adrs_2" das:label="_ENTITY_ADRS_2" type="varchar255" />
      <xsd:element name="adrs_3" das:label="_ENTITY_ADRS_3" type="varchar255" />
      <xsd:element name="zipcode" das:label="_ENTITY_ZIP_CODE" type="varchar32" />
      <xsd:element name="city" das:label="_ENTITY_CITY" type="varchar255" />
      <xsd:element name="country" das:label="_ENTITY_COUNTRY" type="varchar255" />
      <xsd:element name="email" das:label="_ENTITY_EMAIL" type="varchar255" />
      <xsd:element name="business_id" das:label="_ENTITY_BUSINESS_ID" type="varchar32" />
      <xsd:element name="parent_entity_id" das:label="ENTITY_PARENT_ENTITY_ID" type="varchar32" />
      <xsd:element name="entity_type" das:label="_ENTITY_TYPE" type="varchar64" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
