entities/trunk/xml/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

LIST
  root element
  complexType with sequence of 1 element iteration ==> list
  key to define uniqueness and for update

OBJECT
  child of root
  @das:table to declare database table
  complexType with sequence of element iteration ==> properties / children

PROPERTY
  child of object simpleType
  
CHILD
  child of object complexType
  
KEY = on table element and object elements containing sub-elements
KEYREF = on child element, refering to parent keys
Parent key fields (xpath) and child key fields must be in same order

-->
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:das="maarch:DataAccessService"  
  elementFormDefault="qualified">
  
  <xsd:include schemaLocation='core/xml/datatypes.xsd' />
  
  <!-- ROOT : ENTITIES -->
  <xsd:element name='entities_root'>
    <xsd:complexType>
      <xsd:sequence>
        <!-- ROWS -->
        <xsd:element ref='entities' minOccurs="0" maxOccurs='unbounded'/>
        <xsd:element name='entity_types' type='typentity' das:xml='/modules/entities/xml/typentity.xml' das:xpath="/root/TYPE" minOccurs="0" maxOccurs='unbounded'/>
      </xsd:sequence>
    </xsd:complexType>
    <!-- PRIMARY KEY : ENTITY-->
    <xsd:key name='entities_pk'>
      <xsd:selector xpath='./entities' />
      <xsd:field xpath='entity_id'/>
    </xsd:key>
    <!-- PRIMARY KEY : ENTITY TYPE-->
    <xsd:key name='entity_type_pk'>
      <xsd:selector xpath='./entity_types' />
      <xsd:field xpath='id'/>
    </xsd:key>
  </xsd:element>
  
  
  <!-- ROW : ENTITY -->
  <xsd:element name='entities' type='entity' das:table='entities' das:query="enabled='Y'">
    <!-- PRIMARY KEY : USER_ENTITIES -->
    <xsd:key name='users_entities_pk'>
      <xsd:selector xpath='./users_entities' />
      <xsd:field xpath='entity_id' />
      <xsd:field xpath='user_id' />
    </xsd:key>
  </xsd:element>
  
  <!-- TYPE : ENTITY -->
  <xsd:complexType name='entity'>
    <xsd:sequence>
      <xsd:element name="entity_id" type="varchar32" />
      <xsd:element name="entity_label" type="varchar255" />
      <xsd:element name="entity_type" type="varchar64" />
      <xsd:element name="enabled" type="boolean" />
      <xsd:element name="users_entities" type="users_entities" minOccurs='0' maxOccurs='unbounded'>
        <xsd:annotation>
          <xsd:appinfo>
            <das:relation parent-key='entity_id' child-key='entity_id' />
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:keyref name='users_entities_fk' refer='entities_pk'>
          <xsd:selector xpath='.' />
          <xsd:field xpath='entity_id' />
        </xsd:keyref>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  
  <!-- USERS_ENTITIES -->
  <xsd:element name='users_entities' type='users_entities' />

  <xsd:complexType name='users_entities'>
    <xsd:sequence>
      <xsd:element name="entity_id" type="varchar32" />
      <xsd:element name="user_id" type="varchar128" />
      <xsd:element name="user_role" type="varchar255" />
      <xsd:element name="primary_entity" type="boolean" />
      <xsd:element name="user" das:table='users'>
        <xsd:annotation>
          <xsd:appinfo>
            <das:relation parent-key='user_id' child-key='user_id' />
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user_id" type="varchar128" />
            <xsd:element name="firstname" type="varchar255" />
            <xsd:element name="lastname" type="varchar255" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- typentity.xml -->
  <xsd:complexType name='typentity'>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="label" type="xsd:string" />
      <xsd:element name="typelevel" type="xsd:string" />
      <xsd:element name='entities_with_type' das:table='entities' minOccurs="0" maxOccurs='unbounded'>
        <xsd:annotation>
          <xsd:appinfo>
            <das:relation parent-key='id' child-key='entity_type' />
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entity_id" type="varchar32" />
            <xsd:element name="entity_label" type="varchar255" />
            <xsd:element name="entity_type" type="varchar64" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:keyref name='entity_type_fk' refer='entity_type_pk'>
          <xsd:selector xpath='.' />
          <xsd:field xpath='entity_type' />
        </xsd:keyref>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    
</xsd:schema>