entities/trunk/xml/entities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

LIST
  root element
  complexType with sequence of 1 element iteration ==> list
  key to define uniqueness and for update

OBJECT
  child of root
  @das:table to declare database table
  complexType with sequence of element iteration ==> properties / children

PROPERTY
  child of object simpleType
  
CHILD
  child of object complexType
  
KEY = on table element and object elements containing sub-elements
KEYREF = on child element, refering to parent keys
Parent key fields (xpath) and child key fields must be in same order

-->
<xsd:schema 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:das="maarch:DataAccessService"  
  elementFormDefault="qualified">
  
  <xsd:include schemaLocation='modules/entities/xml/entities.xsd' />
  <xsd:include schemaLocation='apps/maarch_entreprise/xml/datasources.xsd' />

  <!-- ROOT : ENTITIES -->
  <xsd:element name='entities_list'>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref='entities' minOccurs="0" maxOccurs='unbounded' />
        <!--<xsd:element name='entity_types' type='typentity' das:xml='/modules/entities/xml/typentity.xml' das:xpath="/root/TYPE" minOccurs="0" maxOccurs='unbounded'/>-->
      </xsd:sequence>
    </xsd:complexType>
    <!-- PRIMARY KEY : ENTITIES-->
    <xsd:key name='entities_pk'>
      <xsd:selector xpath='./entities' />
      <xsd:field xpath='entity_id'/>
    </xsd:key>
  </xsd:element>
  
  
  <!-- ROW : ENTITY -->
  <xsd:element name='entities' type='entities' 
    das:source='maarch_entreprise' 
    das:key-columns='entity_id' 
    das:filter-columns='entity_id entity_label adrs_1' 
    das:validation='apps/maarch_entreprise/XSD/entities_validation.php'
  />
  
  <xsd:complexType name='entities' >
    <xsd:sequence>
      <xsd:element name="entity_id" type="varchar32" nillable="false" />
      <xsd:element name="entity_label" type="varchar255" />
      <xsd:element name="short_label" type="varchar50" />
      <xsd:element name="enabled" type="boolean" nillable="false" default="Y" />
      <xsd:element name="adrs_1" type="varchar255" />
      <xsd:element name="adrs_2" type="varchar255" />
      <xsd:element name="adrs_3" type="varchar255" />
      <xsd:element name="zipcode" type="varchar32" />
      <xsd:element name="city" type="varchar255" />
      <xsd:element name="country" type="varchar255" />
      <xsd:element name="email" type="varchar255" />
      <xsd:element name="business_id" type="varchar32" />
      <xsd:element name="parent_entity_id"  type="varchar32" />
      <xsd:element name="entity_type" type="varchar64" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:annotation>
    <xsd:appinfo>
      <das:relation name='entities_users_entities' parent='entities' child='users_entities' parent-keys='entity_id' child-keys='entity_id' />
    </xsd:appinfo>
  </xsd:annotation>
  
  <!-- USERS_ENTITIES -->
  <xsd:element name='users_entities' 
    type='users_entities' 
    das:source='maarch_entreprise' 
    das:key-columns='entity_id user_id' 
    das:relation='entities_users_entities'>
  </xsd:element>

  <xsd:complexType name='users_entities'>
    <xsd:sequence>
      <xsd:element name="entity_id" type="varchar32" />
      <xsd:element name="user_id" type="varchar128" />
      <xsd:element name="user_role" type="varchar255" />
      <xsd:element name="primary_entity" type="boolean" />
      <!--xsd:element name="user" das:table='users'>
        <xsd:annotation>
          <xsd:appinfo>
            <das:relation parent-key='user_id' child-key='user_id' />
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user_id" type="varchar128" />
            <xsd:element name="firstname" type="varchar255" />
            <xsd:element name="lastname" type="varchar255" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element-->
    </xsd:sequence>
  </xsd:complexType>
    
</xsd:schema>
